In [6]:
for i in range(10, 31):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
# 1.1 Also write a code to print those numbers in steps of 3

In [7]:
for b in range(10,31,3):
    print(b)

10
13
16
19
22
25
28

In [ ]:
#1.2 Update the previous code to print all the numbers from 10 to 30 that are multiples of 5. (These are: 5,10, 15,...)

In [8]:
for b in range (10,31,5):
    print(b)

10
15
20
25
30

In [ ]:
#1.3 Write a code to print this pattern. Modify the print statement in the dummy code provided:

In [16]:
for i in range (1,3):
    if i==1: 
        print("***")
    else:
        if i==2:
            print("***")
        else:
            if i==3:
                print("***")
            else:
                print("")

***
***

In [ ]:
#1.4 Update the previous code to print the following pattern:

In [17]:
for i in range (1,3):
    if i==1: 
        print("****")
    else:
        if i==2:
            print("****")
        else:
            if i==3:
                print("***")
            else:
                print("")

****
****

In [ ]:
#1.5 Take a positive integer input from the user. Find the factorial of that number.

In [1]:
import math

In [2]:
math.factorial (5)

120

In [33]:
def factorial(*n):
    for x in n:
        fact = 1
        for y in range(1, x + 1):
            fact *= y 
        print(fact)
factorial (int(input("Introduce un número entero: ")))

Introduce un número entero: 5
120

In [ ]:
#2.1  Iterations on lists

In [51]:
x = [12,43,4,1,6,343,10, 34, 12, 93, 783, 330, 896, 1, 55]
def multiple(x,multiple):
    return True if x % multiple == 0 else False
multiples_3=[]
for i in x:
    if multiple(i, 3):
        multiples_3.append(i)
print("los mulitplos de 3 son: ", multiples_3)

los mulitplos de 3 son:  [12, 6, 12, 93, 783, 330]

In [52]:
print(x)

[12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]

In [53]:
min(x)

1

In [54]:
max(x)

896

In [ ]:
#Iterations on dictionary

In [55]:
 word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}
word_freq.values()

dict_values([25, 1, 6, 1, 1, 1, 1, 11, 1, 1, 1, 1, 3, 14, 1, 16, 2, 1, 2, 1, 1, 3, 2])

In [60]:
word_freq.keys()

dict_keys(['love', 'conversation', 'every', "we're", 'plate', 'sour', 'jukebox', 'now', 'taxi', 'fast', 'bag', 'man', 'push', 'baby', 'going', 'you', "don't", 'one', 'mind', 'backseat', 'friends', 'then', 'know'])

In [61]:
word_freq.items()

dict_items([('love', 25), ('conversation', 1), ('every', 6), ("we're", 1), ('plate', 1), ('sour', 1), ('jukebox', 1), ('now', 11), ('taxi', 1), ('fast', 1), ('bag', 1), ('man', 1), ('push', 3), ('baby', 14), ('going', 1), ('you', 16), ("don't", 2), ('one', 1), ('mind', 2), ('backseat', 1), ('friends', 1), ('then', 3), ('know', 2)])

In [63]:
for tumbutu, value in word_freq.items():
    print("For ", tumbutu, " the value is: ", value)

For  love  the value is:  25
For  conversation  the value is:  1
For  every  the value is:  6
For  we're  the value is:  1
For  plate  the value is:  1
For  sour  the value is:  1
For  jukebox  the value is:  1
For  now  the value is:  11
For  taxi  the value is:  1
For  fast  the value is:  1
For  bag  the value is:  1
For  man  the value is:  1
For  push  the value is:  3
For  baby  the value is:  14
For  going  the value is:  1
For  you  the value is:  16
For  don't  the value is:  2
For  one  the value is:  1
For  mind  the value is:  2
For  backseat  the value is:  1
For  friends  the value is:  1
For  then  the value is:  3
For  know  the value is:  2

In [66]:
for word, freq in word_freq.items():
    if freq < 3:
        print(word)

conversation
we're
plate
sour
jukebox
taxi
fast
bag
man
going
don't
one
mind
backseat
friends
know

In [67]:
for word, freq in word_freq.items():
    if freq == max(word_freq.values()):
        print(word)

love

In [ ]:
# Snail and well